header {
    background-color: $baseColor;
    min-height: 30vh;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;

    & .navBar {
        min-height: 10vh;
        justify-content: space-between;
        padding: 15px 0;
    }

    & ul {
        display: flex;
        justify-content: center;

        & li {
            list-style: none;
            margin: 7px 30px;
            
                & a {
                    font-size: 1.5rem;
                    color: $primaryFontColor;
                    font-family: $primaryFont;
                    text-decoration: none;
                    text-transform: uppercase;
                    justify-content: space-between;
                    transition: 0.3s;
                }

                & a:hover,
                & a:focus {
                    color: $solidWhite;
                    transform: scale(1);
                }

            }
        }

        .logo {
            font-size: 1.7rem;
            color: $primaryFontColor;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 10px;
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: center;

            & :first-child {
                position: relative;
                bottom: 100px;
            }

            h2 {
                position: relative;
                right: 150px;
                bottom: 30px;
                text-transform: uppercase;
            }

            .headImg img {
                box-shadow: 20px 20px $solidWhite;
                position: relative;
                top: 60px;
                width: 80%;
                height: auto;
            }   

        }
    }

// blog header

.blogHead {
    height: 60vh;
    img {
        width: 100%;
    }

   h2 {
    display:flex;
    position: relative;
    left: 80px;
    bottom: 50px;
   }
}


