header {
    background-color: $baseColor;
    min-height: 90vh;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;

    & .navBar {
        min-height: 10vh;
        justify-content: space-between;
        padding: 15px 0;
    }

    & ul {
        display: flex;
        justify-content: center;

        & li {
            list-style: none;
            margin: 7px 30px;
            
                & a {
                    font-size: 1.5rem;
                    color: $primaryFontColor;
                    font-family: $primaryFont;
                    text-decoration: none;
                    text-transform: uppercase;
                    justify-content: space-between;
                }

                & a:hover,
                & a:focus {
                    color: $solidWhite;
                    transform: scale(1);
                }

            }
        }

        .logo {
            font-size: 1.7rem;
            color: $primaryFontColor;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 10px;
        }
    }

