.whoIsSophie {
    background-color: $backgroundColor;
    padding: 100px 0;
    
    & p {
        width: 80%;
        margin-bottom: 30px;
    }
}

.favsAndTravel ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    & li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
    }
    
    .doggyBackground {
        background-color: $shadowEffect;
        position: relative;
        bottom: 30px;
        padding: 0 40px;
    }

    .doggyImg {
        position: relative;
        bottom: 30px;
        left: 15px;
    }

    .favs {
        margin-left: 60px;
    }
    
        .beachBackground {
            background-color: $baseColor;
            position: relative;
            top: 60px;
            padding: 0 40px;
        }
    
        .beachImg {
            position: relative;
            bottom: 20px;
            right: 60px;
        }

        .travel {
            text-align: end;
            padding: 50px;
            margin-top: 20px;
        }
}

.linksContainer {
    background-color: $backgroundColor;
    margin: 0 auto;

    & ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
       
    & li {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 50px;

        & a {
                color: $primaryFontColor;
                font-family: $primaryFont;
                text-decoration: none;
                justify-content: space-between;
                transition: 0.3s;
            }
        
            & a:hover,
            & a:focus {
                color: $solidWhite;
                transform: scale(1);
            }
        }
    }

    & .icons {
        display: inline-block;
        padding-top: 50px;
        padding-left: 50px;
        position: relative;
        right: 50px;
    }

    .fa-solid {
        background-color: $baseColor;
        padding: 15px;
        border-radius: 50%;
        color: $primaryFontColor;
    }
}

.spanImg img {
    width: 100%;
    margin: 0;
}

.journey {
    background-color: $backgroundColor;
    padding: 100px 0;
}
.journeyContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
    & .imgContainer,
    & .journeyContent {
        width: 50%;
    }

    .imgContainer img {
        width: 100%;
        height: auto;
    }
    .imgContainer {
        box-shadow: 5px 10px $baseColor;
    }
}

.pictures ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    & .photos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 30%;
        padding: 100px 0;
        margin: 0 20px;
    }
}

// blog sections

.floatLeft {
    display: flex;
    flex-direction: column;
}

main .floatLeft {
    background-color: $backgroundColor;
}