html {
    font-size: 62.5%;
}

h2 {
    font-family: $headingFont;
    font-size: 12rem;
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    font-family: $primaryFont;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bold;
}

h3 {
    font-size: 4.2rem;

}

h4 {
    font-size: 3.2rem;
}

h5 {
    font-size: 2.4rem;
}

p {
    font-size: 2rem;
    font-family: $primaryFont;
}

footer {
    color: $solidWhite;
}

.primaryButton {
    background-color: $accentColor;
    color: $primaryFontColor;
    font-family: $primaryFont;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}