html {
    font-size: 62.5%;
}

h2 {
    font-family: $headingFont;
    font-size: 8rem;
    font: bold;
}

h3 {
    font-size: 4.2rem;
}

h4 {
    font-size: 3.2rem;
}

h5 {
    font-size: 2.4rem;
}

p {
    font-size: 2rem;
    font-family: $primaryFont;
}