// fonts

$primaryFont: 'Roboto', sans-serif;
$headingFont: 'Lora', serif;

// font colors

$primaryFontColor: #2c2c2c; 
$secondaryFontColor: #285e64;
$solidWhite: #fff;


// site colors

$baseColor: #f6a823;
$backgroundColor: #f0efed;
$accentColor: #05afc1;
$shadowEffect: #a82706;
$footerColor: #4f4f4f;

